@tailwind base;
@tailwind components;
@tailwind utilities;

.para-1:first-child::first-letter {
    color: rgb(133 77 14);
    padding: 0 .2rem;
    margin: 0 .3rem 0 0;
    border: 1px solid;
    border-radius: 8px;
    font-family: "IBM Plex Mono", monospace;
  
    font-size: 4rem;
    float: left;
    line-height: 1;
  }